<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655057322220-d0eler0pnhq9bmltcj95dp7e9juisej3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655057322220-d0eler0pnhq9bmltcj95dp7e9juisej3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>655057322220-bpe8uc233o6a0s0d4nnj2flonbb3uge6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDANZPFKw-qDRpGlO4rW3MptSFX2ElDgc</string>
	<key>GCM_SENDER_ID</key>
	<string>655057322220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tri.glitzApp</string>
	<key>PROJECT_ID</key>
	<string>glitz-ce2cf</string>
	<key>STORAGE_BUCKET</key>
	<string>glitz-ce2cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655057322220:ios:b639b2ce51fb127df1e5c9</string>
</dict>
</plist>